---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import IdentityStrip from "../components/IdentityStrip.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro";
import CommunityProof from "../components/CommunityProof.astro";
import WorkWithMe from "../components/WorkWithMe.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <IdentityStrip />
    <FeaturedProjects />
    <CommunityProof />
    <WorkWithMe />
  </main>
  <Footer />
</Layout>
