---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import TechImmigrants from "../components/TechImmigrants.astro";
import CommunityIntelligence from "../components/CommunityIntelligence.astro";
import Projects from "../components/Projects.astro";
import CurrentFocus from "../components/CurrentFocus.astro";
import Speaking from "../components/Speaking.astro";
import Collaborate from "../components/Collaborate.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <TechImmigrants />
    <CommunityIntelligence />
    <Projects />
    <CurrentFocus />
    <Speaking />
    <Collaborate />
    <Contact />
  </main>
  <Footer />
</Layout>
